body {
  font-family: "Arial", sans-serif;
  background: #0d0d1a;
  color: #fff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */

  /* padding: 20px; */
  z-index: 2;
  position: relative;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  animation: fadeIn 1s ease-in;
}

.welcome-container h1 {
  color: var(--primary-cyan);
  font-size: 48px;
  text-shadow: 0 0 15px var(--primary-cyan);
}

.welcome-container p {
  font-size: 24px;
  max-width: 700px;
  margin-top: 55vh;
  text-align: center;
}

.welcome-container a {
  font-size: 24px;
  text-decoration: none;
  color: var(--primary-cyan);
  text-shadow: 0 0 15px var(--primary-cyan);
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 8px;
  border: 2px solid var(--primary-cyan);
  transition: 0.3s;
}

.welcome-container a:hover {
  background-color: var(--primary-cyan);
  color: #000;
}
#resultsContainer {
  position: fixed;
  inset: 0;
  margin-top: 15px;
  pointer-events: none;
}

.result-card {
  position: absolute;
  transform: translateY(-50%);
  pointer-events: auto;
  cursor: pointer;
  background: var(--bg-dark);
  border-radius: 15px;
  padding: 20px;
  width: 220px;
  text-align: center;
  box-shadow: 0 0 20px --shadow-cyan;
  transition: transform 0.3s;
}

.result-card h3 {
  color: #fff;
  text-transform: capitalize;
  margin-top: 0;
}

.result-card .score {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
  text-shadow: 0 0 10px var(--shadow-cyan);
}

.result-card:hover {
  transform: translateY(-50%) scale(1.1);
}

#analysisContainer {
  position: relative;
  margin-top: 53vh;
  width: 49%;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  animation: fadeIn 1.5s ease-in;
}

.analysis-box {
  text-align: center;
  background: var(--bg-dark);
  border-radius: 15px;
  padding: 15px 25px;
  box-shadow: 0 0 20px var(--shadow-cyan);
}

.analysis-box h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

.analysis-box p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
