body {
  background: black;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}
canvas #canvas-container {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}
@media (max-width: 768px) {
  #canvas-container {
    display: none;
  }
}
